.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.html
/Presentations/Introduction/Introduction_files/*
/Presentations/CDMConnector/CDMConnector_files/*
/Presentations/Cohorts/Cohorts_files/*
/Presentations/CohortCharacteristics/CohortCharacteristics_files/*
/Presentations/DrugUtilisationDoseIndication/DrugUtilisationDoseIndication_files/*
/Presentations/DrugUtilisationCohorts/DrugUtilisationCohorts_files/*

/.quarto/
/_site/
